venv
venv/*

MHMelectric/*/__pycache__/*
MHMelectric/*/__pycache__

MHMelectric/*/migrations/*/*
MHMelectric/*/migrations/**
MHMelectric/*/migrations/*
!MHMelectric/*/migrations/__init__.py

MHMelectric/*/tests/__pycache__
MHMelectric/*/tests/__pycache__/*
MHMelectric/*/tests/__pycache__/**

MHMelectric/db.sqlite3

MHMelectric/media
MHMelectric/media/*

