@import url('Standard.css');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.nav-wrapper {
    background-color:#31C7CE;
    font-family: 'Raleway', sans-serif;
    box-shadow: rgb(116, 116, 116) 0px 3px 5px;
}

.nav-wrapper a {
  color: #f7f7f7;
}

.brand-logo {
  font-family: 'Lobster', cursive;
}